
.newlist{
    padding-top: 20px;
    padding-left: 20px;
}
.form-control-inline{
    width: 500px;
}

.form-control {
    width: 95%;
}
.model-box{
    padding: 35px;
    background-color: rgb(9, 9, 9);
    background: #201d1d;
    width: 500px;
    border-radius: 5px;
}
// .modal-box {
//     min-height: 200px;
//     width: 100%;
//     max-width: 500px;
//     background: #201d1d;
//     border-radius: 5px;
//     padding: 35px;
//   }
.title{
    margin-left: 20px;
    color: white;
}
.space-cancle{
margin-left: 230px;
margin-top: 8px;
margin-bottom: 8px;
}
.make-space-add{
justify-content: center;
margin-left: 60px;
padding-left: 10px;
margin-top: 8px;
margin-bottom: 8px;
}
.inputbox{
margin-left: 8px;
}